<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Inventory App</title>
  </head>
  <body>
    <%- include('partials/filledNav.ejs', {}) %> 
    
    <% if (locals.categories) { %> <%-
        include('partials/categories.ejs', { categories: locals.categories, selected: locals.selected}) %> 
      <% } 
    %>

    <div class="items-container">
      <% if (locals.items && locals.items.length > 0) { %> <%
      locals.items.forEach(({ part_name, description, directory, id, category_name }) => { %>
      <div class="item">
        <div class="item-img-container">
          <img src="<%= directory %>" alt="item" />
        </div>
        <p class="item-name item-field"><%= part_name %></p>
        <p class="item-description item-field"><%= description %></p>
        <div class="additions">
          <div class="icons-container">
            <div class="icon-wrapper">
              <a href="/inventory/delete/<%=id%>">
                <img src="images/icons/delete.png" alt="delete" />
              </a>
            </div>
            <div class="icon-wrapper">
              <a href="/inventory/edit/<%=id%>?category=<%=category_name%>">
                <img src="images/icons/edit-button.png" alt="edit" />
              </a>
            </div>
          </div>

          <p class="view-details">
            <a href="/details/<%=id%>">view details</a>
          </p>
        </div>
      </div>
      <% }) %> <% } else { %>
      <div class="no-items">
        <h1 class="no-items-header">Could not find any item</h1>
      </div>
      <% } %>
    </div>
  </body>
</html>
